MYSQL_host=localhost
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=test_db
MYSQL_PORT=3306

OPENAI_API_KEY="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"
